<!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
<div class="relative z-40 lg:hidden" role="dialog" aria-modal="true">
  <!--
    Off-canvas menu backdrop, show/hide based on off-canvas menu state.

    Entering: "transition-opacity ease-linear duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "transition-opacity ease-linear duration-300"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div [id]="'sidebar_mobil_bg'" class="fixed inset-0 bg-gray-600 bg-opacity-75"></div>

  <div [id]="'sidebar_mobil'" class="fixed inset-0 z-40 flex">
    <!--
      Off-canvas menu, show/hide based on off-canvas menu state.

      Entering: "transition ease-in-out duration-300 transform"
        From: "-translate-x-full"
        To: "translate-x-0"
      Leaving: "transition ease-in-out duration-300 transform"
        From: "translate-x-0"
        To: "-translate-x-full"
    -->
    <div class="relative flex w-full max-w-xs flex-1 flex-col bg-gray-800">
      <!--
        Close button, show/hide based on off-canvas menu state.

        Entering: "ease-in-out duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "ease-in-out duration-300"
          From: "opacity-100"
          To: "opacity-0"
      -->
      <div class="absolute top-0 right-0 -mr-12 pt-2">
        <button type="button" (click)="displaySideBar()" class="ml-1 flex h-10 w-10 items-center justify-center rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
          <span class="sr-only">Close sidebar</span>
          <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <div class="flex flex-1 flex-col overflow-y-auto pt-5 pb-4">
        <div class="flex flex-shrink-0 items-center px-4">
          <div class="flex-initial rounded-md bg-white p-3 m-2">
            <img ng-model="photoURL" _ngcontent-qnp-c19="" src="assets/logo_leblanc.png" alt="ETS Leblanc" class="h-8 w-auto bg-white border-1">
          </div>
          <h2 class="p-2 text-white text-sm font-medium">Entreprise Leblanc</h2>
        </div>
        <nav class="mt-5 flex-1 space-y-1 px-2">
          <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
          <a [routerLink]="'/dashboard'" class="hover:bg-red-700
          bg-red-400 bg-opacity-25 text-white group flex items-center rounded-md px-2 py-2 text-sm font-medium">
            <!-- Current: "text-gray-300", Default: "text-gray-400 group-hover:text-gray-300" -->
            <svg class="text-gray-300 mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
            </svg>
            Réception
          </a>

          <a [routerLink]="'/dashboard/doc'" class="text-gray-300 hover:bg-gray-700 hover:text-white group flex items-center rounded-md px-2 py-2 text-sm font-medium">
            <!-- Current: "text-gray-300", Default: "text-gray-400 group-hover:text-gray-300" -->
            <svg class="text-gray-300 mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5" />
            </svg>
            Documentation
          </a>

          <a [routerLink]="'/dashboard/users'" class="text-gray-300 hover:bg-red-700
          bg-red-400 bg-opacity-25 hover:text-white group flex items-center rounded-md px-2 py-2 text-sm font-medium">
            <svg class="text-gray-400 group-hover:text-gray-300 mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
            </svg>
            Clients
          </a>
          <a [routerLink]="'/dashboard/products'"class="text-gray-300 hover:bg-gray-700 hover:text-white group flex items-center rounded-md px-2 py-2 text-sm font-medium">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-400 group-hover:text-gray-300 mr-3 h-6 w-6 flex-shrink-0">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
            </svg>
            Produits
          </a>
          <a [routerLink]="'/dashboard/dompro'" class="text-gray-300 hover:bg-gray-700 hover:text-white group flex items-center rounded-md px-2 py-2 text-sm font-medium">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-400 group-hover:text-gray-300 mr-3 h-6 w-6 flex-shrink-0">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 00-3.7-3.7 48.678 48.678 0 00-7.324 0 4.006 4.006 0 00-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3l-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 003.7 3.7 48.656 48.656 0 007.324 0 4.006 4.006 0 003.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3l-3 3" />
            </svg>

            Dompro
          </a>
          <a [routerLink]="'/dashboard/divalto'" class="text-gray-300 hover:bg-orange-700
          bg-orange-400 bg-opacity-25 hover:text-white group flex items-center rounded-md px-2 py-2 text-sm font-medium">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-400 group-hover:text-gray-300 mr-3 h-6 w-6 flex-shrink-0">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 00-3.7-3.7 48.678 48.678 0 00-7.324 0 4.006 4.006 0 00-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3l-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 003.7 3.7 48.656 48.656 0 007.324 0 4.006 4.006 0 003.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3l-3 3" />
            </svg>
            Divalto
          </a>
          <a [routerLink]="'/dashboard'" class="text-gray-300 hover:bg-red-700
          bg-red-400 bg-opacity-25 hover:text-white group flex items-center rounded-md px-2 py-2 text-sm font-medium">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-400 group-hover:text-gray-300 mr-3 h-6 w-6 flex-shrink-0">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5" />
            </svg>

            Juridique
          </a>
          <a [routerLink]="'/dashboard'" class="text-gray-300 hover:bg-red-700 hover:text-white group bg-red-400 bg-opacity-25 flex items-center rounded-md px-2 py-2 text-sm font-medium">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-400 group-hover:text-gray-300 mr-3 h-6 w-6 flex-shrink-0">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z" />
            </svg>

            Pages CMS
          </a>
        </nav>
      </div>

      <div class="flex flex-shrink-0 bg-gray-700 p-4 bg-gradient-to-r from-gray-500 via-dark-500 to-red-500 background-animate">
      <a href="#" class="group inline-block w-full flex-shrink-0">
        <div ng-model="currUser" class="flex justify-between items-center w-full">
          <div class="min-w-fit">
            <img ng-model="currUser" class="inline-block h-9 w-9 rounded-full bg-white" src="{{this.currUser.providers.google.photoURL}}" alt="">
          </div>

          <div ng-model="currUser" class=" w-full ml-3">
            <p ng-model="currUser" class="text-sm font-medium text-white">{{currUser.first_name || '...'}} {{ currUser.last_name || '...'}}</p>
            <p class="inline-block text-xs font-medium text-gray-300 whitespace-pre-line group-hover:text-gray-200 max-w-min w-20">{{currUser.email.slice(0,20) || 'Pas d\'email'}}{{'...'}}</p>
          </div>
          <a [routerLink]="['settings',{outlets: {settings: 'account'}}]" class="ml-7 inline max-w-min">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 text-white hover:bg-orange-400/20 rounded-full">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12a7.5 7.5 0 0015 0m-15 0a7.5 7.5 0 1115 0m-15 0H3m16.5 0H21m-1.5 0H12m-8.457 3.077l1.41-.513m14.095-5.13l1.41-.513M5.106 17.785l1.15-.964m11.49-9.642l1.149-.964M7.501 19.795l.75-1.3m7.5-12.99l.75-1.3m-6.063 16.658l.26-1.477m2.605-14.772l.26-1.477m0 17.726l-.26-1.477M10.698 4.614l-.26-1.477M16.5 19.794l-.75-1.299M7.5 4.205L12 12m6.894 5.785l-1.149-.964M6.256 7.178l-1.15-.964m15.352 8.864l-1.41-.513M4.954 9.435l-1.41-.514M12.002 12l-3.75 6.495" />
            </svg>
          </a>
        </div>
        <a [routerLink]="['settings',{outlets: {settings: 'account'}}]"  class="block w-100">

          <button type="button" class="block rounded-md bg-green-300/10 w-100 min-w-full py-2 px-3 mt-3 text-sm font-semibold text-white shadow-sm hover:bg-orange-400/20">Profil</button>
        </a>
        <button type="button" (click)="disconnect()" class="block  rounded-md bg-red-300/10 w-100 min-w-full py-2 px-3 mt-3 text-sm font-semibold text-white shadow-sm hover:bg-orange-400/20">Déconnexion</button>

      </a>

    </div>

    </div>

    <div class="w-14 flex-shrink-0">
      <!-- Force sidebar to shrink to fit close icon -->
    </div>
  </div>
</div>

<!-- Static sidebar for desktop -->
<div class="hidden lg:fixed lg:inset-y-0 lg:flex lg:w-64 lg:flex-col">
  <!-- Sidebar component, swap this element with another sidebar if you like -->
  <div class="flex min-h-0 flex-1 flex-col bg-gray-800">
    <div class="flex flex-1 flex-col overflow-y-auto pt-5 pb-4">
      <div class="flex flex-shrink-0 items-center px-4">
        <div class="flex-initial rounded-md bg-white p-3 m-2">
          <img _ngcontent-qnp-c19="" src="assets/logo_leblanc.png" alt="ETS Leblanc" class="h-8 w-auto bg-white border-1">
        </div>
        <h2 class="p-2 text-white text-sm font-medium">Entreprise Leblanc</h2>
      </div>
      <nav class="mt-5 flex-1 space-y-1 px-2">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <a [routerLink]="'/dashboard'" class="hover:bg-red-700
        bg-red-400 bg-opacity-25 text-white group flex items-center rounded-md px-2 py-2 text-sm font-medium">
          <!-- Current: "text-gray-300", Default: "text-gray-400 group-hover:text-gray-300" -->
          <svg class="text-gray-300 mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
          </svg>
          Réception
        </a>

        <a [routerLink]="'/dashboard/doc'" class="text-gray-300 hover:bg-gray-700 hover:text-white group flex items-center rounded-md px-2 py-2 text-sm font-medium">
            <!-- Current: "text-gray-300", Default: "text-gray-400 group-hover:text-gray-300" -->
            <svg class="text-gray-300 mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5" />
            </svg>
            Documentation
          </a>

        <a [routerLink]="'/dashboard/users'" class="text-gray-300 hover:bg-red-700
        bg-red-400 bg-opacity-25 hover:text-white group flex items-center rounded-md px-2 py-2 text-sm font-medium">
          <svg class="text-gray-400 group-hover:text-gray-300 mr-3 h-6 w-6 flex-shrink-0" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
          </svg>
          Clients
        </a>
        <a [routerLink]="'/dashboard/products'"class="text-gray-300 hover:bg-gray-700 hover:text-white group flex items-center rounded-md px-2 py-2 text-sm font-medium">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-400 group-hover:text-gray-300 mr-3 h-6 w-6 flex-shrink-0">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
          </svg>
          Produits
        </a>
        <a [routerLink]="'/dashboard/dompro'" class="text-gray-300 hover:bg-gray-700 hover:text-white group flex items-center rounded-md px-2 py-2 text-sm font-medium">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-400 group-hover:text-gray-300 mr-3 h-6 w-6 flex-shrink-0">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 00-3.7-3.7 48.678 48.678 0 00-7.324 0 4.006 4.006 0 00-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3l-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 003.7 3.7 48.656 48.656 0 007.324 0 4.006 4.006 0 003.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3l-3 3" />
          </svg>

          Dompro
        </a>
        <a [routerLink]="'/dashboard/divalto'" class="text-gray-300 hover:bg-orange-700
        bg-orange-400 bg-opacity-25 hover:text-white group flex items-center rounded-md px-2 py-2 text-sm font-medium">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-400 group-hover:text-gray-300 mr-3 h-6 w-6 flex-shrink-0">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 00-3.7-3.7 48.678 48.678 0 00-7.324 0 4.006 4.006 0 00-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3l-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 003.7 3.7 48.656 48.656 0 007.324 0 4.006 4.006 0 003.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3l-3 3" />
          </svg>
          Divalto
        </a>
        <a [routerLink]="'/dashboard'" class="text-gray-300 hover:bg-red-700
        bg-red-400 bg-opacity-25 hover:text-white group flex items-center rounded-md px-2 py-2 text-sm font-medium">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-400 group-hover:text-gray-300 mr-3 h-6 w-6 flex-shrink-0">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5" />
          </svg>

          Juridique
        </a>
        <a [routerLink]="'/dashboard'" class="text-gray-300 hover:bg-red-700 hover:text-white group bg-red-400 bg-opacity-25 flex items-center rounded-md px-2 py-2 text-sm font-medium">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-400 group-hover:text-gray-300 mr-3 h-6 w-6 flex-shrink-0">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z" />
          </svg>

          Pages CMS
        </a>
      </nav>
    </div>
    <div class="flex flex-shrink-0 bg-gray-700 p-4 bg-gradient-to-r
    from-gray-500
    via-dark-500
    to-red-500
    background-animate">
      <a href="#" class="group inline-block w-full flex-shrink-0">
        <div ng-model="currUser" class="flex justify-between items-center w-full">
          <div class="min-w-fit">
            <img class="inline-block h-9 w-9 rounded-full bg-white" src="{{this.currUser.providers.google.photoURL}}" alt="">
          </div>
          <div ng-model="currUser" class=" w-full ml-3">
            <p ng-model="currUser" class="text-sm font-medium text-white">{{currUser.first_name || '...'}}  {{ currUser.last_name || '...'}}</p>
            <p class="inline-block text-xs font-medium text-gray-300 whitespace-pre-line group-hover:text-gray-200 max-w-min w-20">{{currUser.email.slice(0,20) || 'Pas d\'email'}}{{'...'}}</p>
          </div>
          <a [routerLink]="['settings',{outlets: {settings: 'account'}}]" class="ml-7 inline max-w-min">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 text-white hover:bg-orange-400/20 rounded-full">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12a7.5 7.5 0 0015 0m-15 0a7.5 7.5 0 1115 0m-15 0H3m16.5 0H21m-1.5 0H12m-8.457 3.077l1.41-.513m14.095-5.13l1.41-.513M5.106 17.785l1.15-.964m11.49-9.642l1.149-.964M7.501 19.795l.75-1.3m7.5-12.99l.75-1.3m-6.063 16.658l.26-1.477m2.605-14.772l.26-1.477m0 17.726l-.26-1.477M10.698 4.614l-.26-1.477M16.5 19.794l-.75-1.299M7.5 4.205L12 12m6.894 5.785l-1.149-.964M6.256 7.178l-1.15-.964m15.352 8.864l-1.41-.513M4.954 9.435l-1.41-.514M12.002 12l-3.75 6.495" />
            </svg>
          </a>
        </div>
        <a [routerLink]="['settings',{outlets: {settings: 'account'}}]" class="block w-100">

          <button  type="button" class="block rounded-md bg-green-300/10 w-100 min-w-full py-2 px-3 mt-3 text-sm font-semibold text-white shadow-sm hover:bg-orange-400/20">Profil</button>
        </a>
        <button type="button" (click)="disconnect()" class="block  rounded-md bg-red-300/10 w-100 min-w-full py-2 px-3 mt-3 text-sm font-semibold text-white shadow-sm hover:bg-orange-400/20">Déconnexion</button>

      </a>

    </div>
  </div>
</div>
<div class="flex flex-1 flex-col lg:pl-64">
  <div class="flex flex-row justify-between items-center sticky top-0 z-10 bg-gray-800 pl-1 pt-1 sm:pl-3 sm:pt-3 lg:hidden">
    <button type="button" (click)="displaySideBar()" class="-ml-0.5 -mt-0.5 inline-flex h-12 w-12 items-center justify-center rounded-md text-gray-500 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
      <span class="sr-only">Open sidebar</span>
      <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>
    <div class="flex-initial rounded-md bg-white p-3 m-2">
      <img _ngcontent-qnp-c19="" src="assets/logo_leblanc.png" alt="ETS Leblanc" class="h-8 w-auto bg-white border-1">
    </div>
    <button type="button" (click)="displaySideBar()" class="-ml-0.5 -mt-0.5 inline-flex h-12 w-12 items-center justify-center rounded-md text-gray-500 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
      <div class="min-w-fit">
        <img class="inline-block h-9 w-9 rounded-full bg-white" src="{{this.currUser.providers.google.photoURL}}" alt="">
      </div>
    </button>
  </div>

</div>
