
<div class="bg-gray-900 py-10">
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-white">Dernières synchronisation
        </h1>
        <p class="mt-2 text-sm text-gray-300">Liste des synchronisation effectuée entre le serveur SFTP de Dompro, la base basserelles et les serveurs de fichiers.</p>
      </div>
      <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
        <button type="button" class="block rounded-md bg-green-500 py-2 px-3 text-center text-sm font-semibold text-white hover:bg-green-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-500" (click)="testSyncLogs()" >Mettre à jour</button>
      </div>
    </div>
    <div class="mt-8 flow-root">
      <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-gray-700">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-white">Table(s) visée(s)</th>
                <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-white">Status</th>
                <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-white">Produits Dompro</th>
                <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-white">Produits mise à jour</th>
                <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-white">Date et Heure début</th>
                <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-white">Date et Heure fin</th>
                <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-white">Durée</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-800">
              <tr ng-model="callBackDomproSync" *ngFor="let log of callBackDomproSync" >

                <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-300">{{log.target_table}}</td>
                <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-300">
                  <span *ngIf="log.status == 'SUCCESS'" class="inline-flex rounded-full bg-green-100 px-2 text-xs font-semibold leading-5 text-green-800">SUCCÈS</span>
                  <span *ngIf="log.status == 'IN_PROGRESS'" class="inline-flex rounded-full bg-red-100 px-2 text-xs font-semibold leading-5 text-green-800">EN COURS</span>
                  <span *ngIf="log.status == 'FINISHED'" class="inline-flex rounded-full bg-orange-100 px-2 text-xs font-semibold leading-5 text-green-800">TERMINÉE</span>

                </td>
                <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-300">{{log.lines_send}}</td>
                <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-300">{{log.lines_received}}</td>
                <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-300">
                  {{log.datetime_start}}
                </td>
                <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-300">
                  {{log.datetime_end}}
                </td>
                <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-300">
                  {{log.duration}}
                </td>
              </tr>

              <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
