<nav aria-label="Progress">
  <ol role="list" class="space-y-4 md:flex md:space-x-8 md:space-y-0">
    <li class="md:flex-1 hover:bg-gray-200">
      <!-- Completed Step -->
      <a class="group flex flex-row border-l-4 border-gray-600 py-2 pl-4 hover:border-gray-800 md:border-l-0 md:border-t-4 md:pb-0 md:pl-0 md:pt-4">
        <img src="assets/157-swipe-outline.gif" alt="" width="10%">
        <div class="flex flex-col">
          <span class="text-sm font-medium pl-2 text-gray-700 group-hover:text-gray-800">Manuels</span>
          <span class="text-sm font-medium pl-2">Actions disponibles non programmés</span>

        </div>
      </a>
    </li>

    <li class="md:flex-1 hover:bg-red-200">
      <!-- Current Step -->

      <a class="flex flex-row p-2 border-l-4 border-orange-600 py-2 pl-4 md:border-l-0 md:border-t-4 md:pb-0 md:pl-0 md:pt-4" aria-current="step">

        <img src="assets/67-clock-outline.gif" alt="" width="10%">
        <div class="flex flex-col">
          <span class="text-sm font-medium text-gray-600 pl-2">Programmées</span>
          <span class="text-sm font-medium pl-2">Programmation d'actions</span>
        </div>
      </a>
    </li>
  </ol>
</nav>

<app-manual></app-manual>






