<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <h1 class="text-2xl font-semibold text-gray-900">Dompro mise à jour et synchronisation</h1>
</div>
<div class="bg-white shadow sm:rounded-lg">
  <div class="px-4 py-5 sm:p-6">
    <h3 class="text-base font-semibold leading-6 text-gray-900">Lancer le téléchargement des fichier .csv</h3>
    <div class="mt-2 sm:flex sm:items-start sm:justify-between">
      <div class="max-w-xl text-sm text-gray-500">
        <p>Méthode de téléchargement des fichiers par type dans le serveur en temporaire pour synchronisation</p>
      </div>
      <div class="mt-5 sm:mt-0 sm:ml-6 sm:flex sm:flex-shrink-0 sm:items-center">
        <button type="button" class="inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500" (click)="domproGetFiles()">Démarrer</button>
      </div>
    </div>
  </div>
</div>
<div id="alert">

</div>
<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <!-- Your content -->

  <div class="bg-white">
    <div class="mx-auto max-w-7xl py-24 sm:px-6 sm:py-32 lg:px-8">
      <div
        class="relative isolate overflow-hidden bg-gray-900 px-6 pt-16 shadow-2xl sm:rounded-3xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0"
      >
        <svg
          viewBox="0 0 1024 1024"
          class="absolute top-1/2 left-1/2 -z-10 h-[64rem] w-[64rem] -translate-y-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:translate-y-0 lg:-translate-x-1/2"
          aria-hidden="true"
        >
          <circle
            cx="512"
            cy="512"
            r="512"
            fill="url(#759c1415-0410-454c-8f7c-9a820de03641)"
            fill-opacity="0.7"
          />
          <defs>
            <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
              <stop stop-color="#7775D6" />
              <stop offset="1" stop-color="#E935C1" />
            </radialGradient>
          </defs>
        </svg>
        <div
          class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-32 lg:text-left"
        >
          <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
            Extraire les données des fichiers sheet et sauvegarder<br />Dompro,
            Divalto vers Prestashop
          </h2>
          <p class="mt-6 text-lg leading-8 text-gray-300">
            Description...
            <br />
            <label for="active_presta_upd"
              >Activer la mise à jour des prix</label
            >
            <input
              type="checkbox"
              checked="{{ active_presta_upd_price_qty }}"
              name="active_presta_upd"
            />
          </p>
          <div
            class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start"
          >
            <button
              class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
              (click)="leblancDomproAndDivaltoToPrestashop()"
            >
              Lancer
            </button>
            <a href="#" class="text-sm font-semibold leading-6 text-white"
              >Voir la doc<span aria-hidden="true">→</span></a
            >
          </div>
        </div>
        <div class="relative mt-16 h-80 lg:mt-8">
          <img
            class="absolute top-0 left-0 w-[25rem] max-w-none rounded-md bg-white/5 ring-1 ring-white/10"
            src="https://techblog.ingeniance.fr/wp-content/uploads/2021/11/nodejs-architecture.gif"
            alt="App screenshot"
            width="1824"
            height="1080"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<app-result>
  <child-directive products_updated="1">
  </child-directive>
</app-result>
